<div class="container">
  <div class="row">
      <div class="col-md-12">
          <hr style="width:100%; border-top: 2px solid rgb(116, 111, 111);">
         

           
          


          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              <div class="item active">
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/output_TwG36R.gif" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Maharastra</h4>
                                  <!-- <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div> -->
                                  <a href="/productlisting" class="btn btn-primary">Explore</a>
                              </div>						
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/output_TwG36R.gif" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Hyderabad</h4>
                                  <!-- <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div> -->
                                  <!-- <div class="button button-primary" [routerLink]="['../productlisting']">View Details</div> -->
                                  <!-- <a routerLink="/productlisting">test</a> -->
                                   <!-- <a href="/productlisting" class="btn btn-primary">Explore</a> -->
                                   <a href="/productlisting" class="btn btn-primary">Explore</a> 
                              </div>						
                          </div>
                      </div>		
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/output_TwG36R.gif" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Rajasthan</h4>
                                  <!-- <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                      </ul>
                                  </div> -->
                                  <a href="/productlisting" class="btn btn-primary">Explore</a>
                              </div>						
                          </div>
                      </div>								
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/output_TwG36R.gif" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Delhi</h4>
                                  <!-- <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div> -->
                                  <a href="/productlisting" class="btn btn-primary">Explore</a>
                              </div>						
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/output_TwG36R.gif" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Delhi</h4>
                                  <!-- <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div> -->
                                  <a href="/productlisting" class="btn btn-primary">Explore</a>
                              </div>						
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="row">
                      <!-- <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/vidhansauda.png" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Karnataka</h4>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Explore</a>
                              </div>						
                          </div>
                      </div> -->
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Macbook Pro</h4>
                                  <p class="item-price">$1099.00<span>$869.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Bose Speaker</h4>
                                  <p class="item-price">$109.00 <span>$99.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Samsung Galaxy S8</h4>
                                  <p class="item-price">$599.00<span>$569.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>						
                  </div>
              </div>
               <div class="item">
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Apple iPhone</h4>
                                  <p class="item-price">$369.00 <span>$349.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Canon DSLR</h4>
                                  <p class="item-price">$315.00 <span>$250.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Google Pixel</h4>
                                  <p class="item-price">$450.00 <span>$418.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>	
                      <div class="col-sm-3">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="../../../assets/imgs/speed.svg" class="img-responsive" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>Apple Watch</h4>
                                  <p class="item-price">$350.00 <span>$330.00</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Add to Cart</a>
                              </div>						
                          </div>
                      </div>
                  </div>
              </div> 
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
          </a>
          </div>
          


      </div>
      </div>
  </div>